# dependencies
node_modules

# next.js build
.next/
.next-local/
.next-work/
out/

# env files
.env
.env.local
.env.*.local

# logs
*.log
dev-server.log
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/
